@model Bmi

@{
	ViewData["Title"] = "Bmi Calculator";
}
<p class="h3 text-white opacity-75 text-uppercase text-center">Kalkulator BMI<br /><br /></p>
<div class="card border-0 p-3 shadow border-top border-5 rounded">
@if (ViewBag.ErrorMessage != null)
{
	<div class="alert alert-danger" role="alert">
    	@ViewBag.ErrorMessage
	</div>
}
<div class="row pb-1">
<form method="post" asp-action="Calculate">
	<div class="form-group">
    	<label for="weight">Waga (kg):</label>
    	<input type="number" name="weight" id="weight" class="form-control" required>
    	<br />
	</div>
	<div class="form-group">
    	<label for="height">Wzrost (cm):</label>
    	<input type="number" step="0.01" name="height" id="height" class="form-control" required>
    	<br />
	</div>
	<div class="form-group">
    	<label for="gender">Płeć:</label>
    	<select name="gender" id="gender" class="form-control" required>
        	<option value="male">Mężczyzna</option>
        	<option value="female">Kobieta</option>
    	</select>
    	<br />
	</div>
	<button type="submit" class="btn btn-primary">Oblicz BMI</button>
</form>
</div>
</div>

