@{
    ViewData["Title"] = "BMI Result";
}

<p class="h3 text-white opacity-75 text-uppercase text-center">Wynik BMI<br /><br /></p>

@if (ViewBag.BMI != null)
{
    <div class="alert alert-success" role="alert">
        Twoje BMI wynosi: @ViewBag.BMI
    </div>

    <div class="alert alert-info" role="alert">
        @if (ViewBag.BMI < 18.5)
        {
            <p>Masz niedowagę. Może być konieczne zwiększenie spożycia kalorii.</p>
            <p>Sugerowane spożycie kalorii 2500-3000 kcal na dzień.</p>
        }
        else if (ViewBag.BMI >= 18.5 && ViewBag.BMI < 24.9)
        {
            <p>Twoja waga jest w normie. Tak trzymaj!</p>
            <p>Sugerowane spożycie kalorii: 2000-2500 kcal na dzień.</p>
        }
        else if (ViewBag.BMI >= 24.9 && ViewBag.BMI < 29.9)
        {
            <p>Masz nadwagę. Być może trzeba będzie zmniejszyć spożycie kalorii.</p>
            <p>Sugerowane spożycie kalorii 1500-2000 kcal na dzień.</p>
        }
        else
        {
            <p>Jesteś otyły. Może być konieczne skonsultowanie się z dietetykiem w celu uzyskania spersonalizowanej porady.</p>
            <p>Sugerowane spożycie kalorii: 1200-1500 kcal na dzień.</p>
        }
    </div>
}



