<div class="container">
    <div class=" row pt-4 pb-2">
        <div class=" col-6">
            <h2 class="text-dark">
                Zarządzanie użytkownikami
            </h2>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Imię</th>
                <th>E-mail</th>
                <th>Numer telefonu</th>
                <th>Typ użytkownika</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}