@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Zamówienie zostało złożone pomyślnie!</h1>
        Numer twojego zamówienia: @Model <br /><br />
        <img src="https://img.freepik.com/darmowe-zdjecie/makiety-schowka-na-tle-lupkow_23-2148262176.jpg?t=st=1716496880~exp=1716500480~hmac=d91a7e99f19cba0c4ce3e8b2a65c2361dfdfb5119a333e1fcdd99ace91df3d20&w=1060" width="65%" />
    </div>
    <div class="col-12 text-center" style="color: white">
        <br />
        Twoje zamówienie zostało pomyślnie dodane! <br />
    </div>
</div>

