<p class="h3 text-white opacity-75 text-uppercase text-center">Dodano do koszyka</p>
<div class="container row pt-4">
    <div class="col-12 text-center">
        <img src="https://img.freepik.com/darmowe-zdjecie/widok-z-gory-koncepcji-pysznej-salatki_23-2148648580.jpg?t=st=1716506473~exp=1716510073~hmac=db5faba4f6ab48305bddc57b4a1d8f33e9c7d63b45b406ab84b68576c539fe57&w=1060" width="65%" />
    </div>
    <div class="col-12 text-center" style="color: white">
        <br />
        Pomyślnie dodano do koszyka! <br />
    </div>
</div>
