

<div class="container">
    <div class=" row pt-4 pb-2">
        <div class=" col-6">
            <h2 class="text-dark">
                Zarządzanie firmami
            </h2>
        </div>
        <div class=" col-6 text-end">
            <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
            <i class="bi bi-journal-plus"></i> Dodaj firmę
            </a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Nazwa firmy</th>
                <th>Adres</th>
                <th>Miasto</th>
                @*<th>State</th>*@
                <th>Numer kontaktowy</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/company.js"></script>
}